/* to style this website I divided the website into six main parts: header, menu, intro, list, form and footer. 
*/

/*general settings for the body part*/

body{   
    background-color: rgb(221, 144, 106);
    font-family: "Neue Haas Grotesk Text Pro";
    color: white;
    margin-bottom: 0;
    line-height: 1.2;   
}

.bodybg{ 
    background-color: #785166;
    margin: auto;
    width: 1000px;
    max-width: 100%;
}

h3{
    font-size: 24px;
    margin: 5px;
}

/*Header Styling*/

.header{
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    height: 400px;
    text-align: center;
    color: white;   
}

h1{
    position: relative;
    top: 40%;
}

/*Menu Styling*/

.menu{
    text-align: center;
    font-size: 24px; 
}
   
 .menu li {
    display: inline-block;
    width: 30%;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
}

 .menu li:last-child{
    border-width: 0px;
}

ul{
    padding: 0;
    margin: 0;
    margin-top: 2px;
}

/*Intro Styling*/

.intro{
    display: block;
    margin: 15px;
    height: max-content;
}

img{
    width: 200px;
    float: left;
    margin: 5px;
    margin-right: 10px;
    margin-top: 15px;
}

p{
    text-align: justify;
    padding-right: 5px;
}

/*List Styling*/

.list{
    margin: 15px;
    height: auto;
}

.points {
     margin: 40px;
}

/*Form Styling*/

.form{
    margin: 15px;
}
 
.data{
width: 100%;
}

textarea {
    width: 100%;
}

input[type=submit]{
    display: block;
    background-color:  rgb(221, 144, 106);
    color: white;
    padding: 10px 10px;
    margin: 15px;
    margin-left: 0;
    font-size: 16px;
}

/*Footer Styling*/

footer{
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}